<a href="https://colab.research.google.com/github/Chandrapraksh-prajapat/Regex/blob/main/2_DataTypes%26Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python has several built-in data types:

# Numeric:
        # int → whole numbers
        # float → decimal numbers
        # complex → numbers like 3+4j

# Text:
      # str → strings (text)

# Sequence:
          # list → changeable collections
          # tuple → unchangeable collectionss
          # range → sequences of numbers

# Mapping:
          # dict → key-value pairs

# Set:
      # set → unique items
      # frozenset → unchangeable set

# Boolean:
          # bool → True/False

# Binary:
          # bytes, bytearray, memoryview

In [ ]:
# Operators in python :
                      # Arithmetic
                      # Comparision
                      # Assignment
                      # Logical
                      # Membership
                      # Identity

In [ ]:
# Arithmetic Operator : use to perform basic mathematical operations
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

13
7
30
3.3333333333333335
1
3
1000

In [ ]:
# cpmparision

x=5
y=10
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [ ]:
# Assignment

num=10

num+=5
print(num)
num-=3
print(num)

num*=2
print(num)
num/=4
print(num)

num%=5
print(num)
num//=2
print(num)

15
12
24
6.0
1.0
0.0

In [ ]:
# Logical operator

a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
# Membership  : a value exists in a sequence (list , string etc.)

nums=[1,2,3,4]

print( 2 in nums)
print(20 in nums)
print(5 not in nums)

True
False
True

In [ ]:
# Identity operators : two variable point to the same object in memory

a=[1,2,3]
b=a
c=[1,2,3]

print(a is b)
print(a is c)
print(a is not c )

True
False
True

In [ ]:


# Conditional statement in PYTHON