<a href="https://colab.research.google.com/github/Chandrapraksh-prajapat/Regex/blob/main/python/LOOP_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Introduction to looping statement :

# a loop is used to repeat a block of code multiple times.
#  The two main types of loops are "FOR" and "WHILE".

In [ ]:
# 1. FOR Loop :

# Used to iterate over a sequence (list, tuple, string, range, etc.).

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
# Nested Loop : A loop inside another loop.

for i in range(1, 4):
    for j in range(1,4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# Loop through a list:
fruits = ["apple", "banana", "mango"]

for i in fruits:
    print(i)

apple
banana
mango

In [ ]:
# else with Loop : Runs when the loop finishes normally (without break).

for i in range(3):
    print(i)
else:
    print("Loop finished")

0
1
2
Loop finished

In [ ]:
# Wap to print 1 to 4
for i in range(1,5):
 print(i)

1
2
3
4

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
# print all even number between 1 to 20
for i in range(1,21):
  if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# print all odd number between 1 to 20
for i in range(1,21):
  if(i%2!=0):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Square of each number from 1 to 20
for  i in range(1,16):
  i=i**2
  print(i, end=" ")

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225

In [ ]:
# print each character of a string 'PYTHON'
a='PYTHON'
for i in range(len(a)):
  print(a[i])

P
Y
T
H
O
N

In [ ]:
# calculate the product of numbers from 1 to 5
product=1
for i in range(1,6):
  product=product*i
  print(product)

1
2
6
24
120

In [ ]:
# sum of digit of a number

num='1234'
sum=0
for i in range(len(num)):
  sum=sum+int(num[i])
  print(sum)

1
3
6
10

In [ ]:
# reverse a string using for loop

a="Hello python"
b=' '
for i in range(len(a)):
  b=a[i]+b
  print(b)

H
eH
leH
lleH
olleH
 olleH
p olleH
yp olleH
typ olleH
htyp olleH
ohtyp olleH
nohtyp olleH

In [ ]:

# 2. WHILE Loop :

# Runs as long as a condition is True.

# Example:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
# break statement : (stop the loop):

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
# continue (skip current iteration):

for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4