<a href="https://colab.research.google.com/github/Chandrapraksh-prajapat/Regex/blob/main/python/List_in_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List: A list is a built-in data structure
#         used to store an ordered collection of items

# Define by enclosing elements within square brackets[] with individual elements separated by commas.

# Mutable => can be modified after creation,
#             Elements can be Added, Removed or Changed


# Hetrogenous => Can store elements of different data types
#                   indexing start from 0
#                   length start from 1



# Functions in list :

# 1. len()
# 2. index()
# 3. count()
# 4. reverse()
# 5. min()
# 6. max()
# 7. append()
# 8. insert()
# 9. pop()
# 10. remove()
# 11. sort()
# 12. extend()




# Iterable can be any value that can be used in for loop

In [ ]:
a=['sam',10, 'raj', 45 , 23.47]
print(a)


type(a)

['sam', 10, 'raj', 45, 23.47]

list

In [ ]:
a=[10,20,50.0,"hey"]
a.extend("abc")
print(a)

[10, 20, 50.0, 'hey', 'a', 'b', 'c']

In [ ]:
a=[10,20,50.0,"hey"]
a.extend([90,100,60])
print(a)

[10, 20, 50.0, 'hey', 90, 100, 60]

In [ ]:
a=[10,11,12,15,19]
for i in range(len(a)):
  print(a[i])

10
11
12
15
19

In [ ]:
# Find odd number and store in a new list

a=[10,11,12,15,19]
b=[]
for i in range(len(a)):
  if a[i]%2!=0:
   b.append(a[i])
print("odd list :",b)

odd list : [11, 15, 19]

In [ ]:
a=[10,11,12,15,19]
b=a[0]
for i in range(0,len(a)):
  curr=a[i]
  if (curr>b):
   b=curr
print("Max value:",b)

Max value: 19

In [ ]:
# Sum of elements in a new list
a=[10,11,12,15,19]
b=[]
sum=0
for i in range(len(a)):
  curr=a[i]
  sum=sum+curr
  b.append(sum)
print(b)

[10, 21, 33, 48, 67]

In [ ]:
# find duplicates in a list and store in a new list
a=[10,11,12,15,19,10,12]
b=[]
duplist=[]
for i in range(len(a)):
  curr=a[i]
  if curr not in b:
    b.append(curr)
  else:
    duplist.append(curr)
print(duplist)

[10, 12]

In [ ]:
# Find vowel and consonent in a string and store in a new list
a='ishan hey'
vowel=[]
cons=[]
for i in range(0,len(a)):
  curr=a[i]
  if curr in 'aeiouAEIOU':
    vowel.append(curr)
  else:
    cons.append(curr)
print(vowel)
print(cons)

['i', 'a', 'e']
['s', 'h', 'n', ' ', 'h', 'y']

In [ ]:
# Store missing numbers in a new list in a given range
a=[1,2,4,6,7,9]
n=9
missingnum=[]
for i in range(1,n+1):
  if i not in a:
    missingnum.append(i)
print(missingnum)

[3, 5, 8]

In [ ]:
# take input from the user in a list
fruits=[]
size=int(input("Enter the number of fruits:"))
for i in range(size):
  value=input("Enter the fruit name:")
  fruits.append(value)
print(fruits)

Enter the number of fruits:3
Enter the fruit name:mango
Enter the fruit name:banana
Enter the fruit name:cherry
['mango', 'banana', 'cherry']

In [ ]:
# find minimum and maximum element of list without using function

a=[1,2,3,4,5,6,7,8,9]
min=a[0]
max=a[0]
for i in a:
  if i>max:
    max=i
  if i<min:
    min=i
print(min)
print(max)

1
9

In [ ]:
# find integers from a list and calculate sum
a=['sam',45,'raj',29.67,10]
sum=0
for i in a:
  if type(i)==int:
    sum=sum+i
print(sum)

55

In [ ]:
# Slicing in a list
a= ['sam', 45 , 'raj',23.47]
print(a[0][2])

m

In [ ]:
# concatation
a= [1,2,3]+[1,2,3]
print(a)

[1, 2, 3, 1, 2, 3]

In [ ]:
# loop in a list
a=['sam', 45 , 'raj', 23.47]
for i in a :
  print(i , end=' ')

sam 45 raj 23.47

In [1]:
# create user define list

a=[]
size= int(input("Enter size of list :"))
for i in range(size):
  value=int(input("Enter value :"))
  a.append(value)
print(a)

Enter size of list :2
Enter value :1
Enter value :2
[1, 2]

In [ ]:
# list comprehension
a=[x**2 for x in range(1,5)]
print(a)

[1, 4, 9, 16]

In [ ]:
# filter even number

a=[x for x in range(1,11) if x%2==0]
print(a)

[2, 4, 6, 8, 10]

In [3]:
#  convert into uppercase

name=['sam','raj','Ankit']

upper={ i.upper() for i in name}
print(upper)

{'SAM', 'ANKIT', 'RAJ'}