<a href="https://colab.research.google.com/github/Chandrapraksh-prajapat/Regex/blob/main/python/8_Dictionary_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Dictionary : A Dictionary is a built-in Python data type used to store data in keyâ€“value pairs.

# Instead of index numbers (like list/tuple), dictionary uses keys to access values.

# Dictionary is written using curly braces { }

#  Unordered
#  Mutable (can change values)
#  Keys must be unique
#  Values can be duplicate


#  Why Dictionary is Powerful?

#  Fast searching (hashing)
#  Used in JSON
#  Used in APIs
#  Used in database rows


    # Creating Dictionary:

    student = { "name": "Rahul" , "age": 21 , "city": "Jaipur"}

    print(student)
    print(student['name'])
    print(student['age'])

{'name': 'Rahul', 'age': 21, 'city': 'Jaipur'}
Rahul
21

In [22]:
#  Update the value of key

student = { "name": "Rahul" , "age": 21 , "city": "Jaipur"}

student['age'] = 22

print(student)




name={ 104:'rahul', 106 :'Aman'}
print(name)

# direct insert new value in last
name[105]='Rakesh'
print(name)

{'name': 'Rahul', 'age': 22, 'city': 'Jaipur'}
{104: 'rahul', 106: 'Aman'}
{104: 'rahul', 106: 'Aman', 105: 'Rakesh'}

In [17]:
# Common Dictionary Methods (Must Know):


# keys()
# values()
# items()
# get()
# pop()


d = {"x":10,"y":20}

print(d.keys())
print(d.values())
print(d.items())
print(d.get("x"))
print(d.pop("y"))
print(d)

dict_keys(['x', 'y'])
dict_values([10, 20])
dict_items([('x', 10), ('y', 20)])
10
20
{'x': 10}

In [18]:
emp = { "name": "Amit",  "salary": 40000,  "city": "Delhi"}

print(emp["name"])

emp["salary"] = 45000
print(emp)

Amit
{'name': 'Amit', 'salary': 45000, 'city': 'Delhi'}

In [21]:

data = {"a":10,"b":20,"c":30}

for k,v in data.items():
    print(k,v)

a 10
b 20
c 30

In [26]:
# count the element in range & assign the dictionary

num ={ "count" :0}

for i in range( 1, 11):
  # num["count"] = i
  num['count'] = num["count"]+1
print(num)

{'count': 10}

In [33]:
# count prime values

number ={"prime" : 0}
for num in range(1,8):
  count=0

  for i in range(1,num+1):
    if num%i==0:
      count=count+1

  if count==2:
      number["prime"] = number["prime"]+1
print(number)

{'prime': 4}

In [34]:
# print the keys in dictionary
xyz = {"count" : 0 , "run" : 55 }

for i in xyz.keys():
  print(i)

count
run

In [36]:
# print values in dictionary

xyz = { "name" : "Rahul" , " course " : "DS "}

for i in xyz.values():
  print(i)

Rahul
DS

In [38]:
# Dictionary comprehension

{ i:"hey" for i in range (10,15)}

{10: 'hey', 11: 'hey', 12: 'hey', 13: 'hey', 14: 'hey'}

In [41]:
#  Create dictionary of 3 students with marks.

students ={ "aman": 95, "Rahul" : 86 , "Max": 45}
print(students)

{'aman': 95, 'Rahul': 86, 'Max': 45}

In [43]:
#  Print all keys and values.

for k,v in students.items():
  print(k,v)

aman 95
Rahul 86
Max 45

In [ ]:
# Q: Difference between List and Dictionary?

# List      :  Index based,  Ordered ,   Uses []

# Dictionary:  Key based,   Unordered,   Uses {}



# Q: Can dictionary keys be duplicated?

#  No. Keys must be unique.